-- Pentaho Monitoring Datamart

-- Upgrades from 4.4.0 to next release

USE hibernate

IF exists(SELECT name
          FROM sys.indexes
          WHERE name = N'IDX_DIM_EXECUTION_LOOKUP')
  DROP INDEX IDX_DIM_EXECUTION_LOOKUP ON pentaho_operations_mart.DIM_EXECUTION;

IF exists(SELECT *
          FROM sys.columns
          WHERE name = N'server_name' AND object_id = OBJECT_ID(N'[pentaho_operations_mart].[dim_execution]'))
  ALTER TABLE pentaho_operations_mart.dim_execution DROP COLUMN server_name;

IF NOT exists(SELECT *
              FROM sys.columns
              WHERE name = N'client' AND object_id = OBJECT_ID(N'[pentaho_operations_mart].[dim_execution]'))
  ALTER TABLE pentaho_operations_mart.dim_execution ADD client VARCHAR DEFAULT NULL;

CREATE INDEX IDX_DIM_EXECUTION_LOOKUP ON pentaho_operations_mart.DIM_EXECUTION (execution_id, server_host, executing_user, client);
IF NOT exists(SELECT *
              FROM sys.columns
              WHERE name = N'failed' AND object_id = OBJECT_ID(N'[pentaho_operations_mart].[fact_execution]'))
  ALTER TABLE pentaho_operations_mart.fact_execution ADD failed INT DEFAULT 0;

UPDATE pentaho_operations_mart.fact_execution
SET failed = (CASE WHEN errors > 0 THEN 1
              ELSE 0 END);

CREATE TABLE pentaho_operations_mart.DIM_STATE (
  state_tk BIGINT       NOT NULL PRIMARY KEY,
  state    VARCHAR(100) NOT NULL
);

CREATE TABLE pentaho_operations_mart.DIM_SESSION (
  session_tk BIGINT       NOT NULL PRIMARY KEY,
  session_id VARCHAR(200) NOT NULL,
  session_type VARCHAR(200) NOT NULL,
  username   VARCHAR(200) NOT NULL
);

CREATE TABLE pentaho_operations_mart.DIM_INSTANCE (
  instance_tk BIGINT       NOT NULL PRIMARY KEY,
  instance_id VARCHAR(200) NOT NULL,
  engine_id   VARCHAR(200) NOT NULL,
  service_id  VARCHAR(200) NOT NULL,
  content_id  VARCHAR(200) NOT NULL,
  content_detail VARCHAR(1024) NOT NULL
);

CREATE TABLE pentaho_operations_mart.DIM_COMPONENT (
  component_tk BIGINT NOT NULL PRIMARY KEY,
  component_id VARCHAR(200) NOT NULL
);

CREATE TABLE pentaho_operations_mart.STG_CONTENT_ITEM (
  gid                CHAR(36)      NOT NULL PRIMARY KEY,
  parent_gid         CHAR(36)     DEFAULT NULL,
  fileSize           INT           NOT NULL,
  locale             VARCHAR(5)   DEFAULT NULL,
  name               VARCHAR(200)  NOT NULL,
  ownerType          INT           NOT NULL,
  path               VARCHAR(1024) NOT NULL,
  title              VARCHAR(255) DEFAULT NULL,
  is_folder          CHAR(1)       NOT NULL,
  is_hidden          CHAR(1)       NOT NULL,
  is_locked          CHAR(1)       NOT NULL,
  is_versioned       CHAR(1)       NOT NULL,
  date_created       DATETIME     DEFAULT NULL,
  date_last_modified DATETIME     DEFAULT NULL,
  is_processed       CHAR(1)      DEFAULT NULL
);

CREATE TABLE pentaho_operations_mart.DIM_CONTENT_ITEM (
  content_item_tk          INT           NOT NULL PRIMARY KEY,
  content_item_title       VARCHAR(255)  NOT NULL DEFAULT 'NA',
  content_item_locale      VARCHAR(255)  NOT NULL DEFAULT 'NA',
  content_item_size        INT           NULL     DEFAULT 0,
  content_item_path        VARCHAR(1024) NULL     DEFAULT 'NA',
  content_item_name        VARCHAR(255)  NOT NULL DEFAULT 'NA',
  content_item_fullname    VARCHAR(1024) NOT NULL DEFAULT 'NA',
  content_item_type        VARCHAR(32)   NOT NULL DEFAULT 'NA',
  content_item_extension   VARCHAR(32)   NULL     DEFAULT 'NA',
  content_item_guid        CHAR(36)      NOT NULL DEFAULT 'NA',
  parent_content_item_guid CHAR(36)      NULL     DEFAULT 'NA',
  parent_content_item_tk   INT           NULL,
  content_item_modified    DATETIME      NOT NULL DEFAULT '1900 - 01 - 01 00:00:00',
  content_item_valid_from  DATETIME      NOT NULL DEFAULT '1900 - 01 - 01 00:00:00',
  content_item_valid_to    DATETIME      NOT NULL DEFAULT '9999 - 12 - 31 23:59:59',
  content_item_state       VARCHAR(16)   NULL     DEFAULT 'new',
  content_item_version     INT           NOT NULL DEFAULT 0
);
CREATE INDEX IDX_DIM_CONTENT_ITEM_GUID_FROM ON pentaho_operations_mart.DIM_CONTENT_ITEM (content_item_guid, content_item_valid_from);

CREATE TABLE pentaho_operations_mart.FACT_SESSION (
  start_date_tk INT            NOT NULL,
  start_time_tk INT            NOT NULL,
  end_date_tk   INT            NOT NULL,
  end_time_tk   INT            NOT NULL,
  session_tk    BIGINT         NOT NULL,
  state_tk      BIGINT         NOT NULL,
  duration      NUMERIC(19, 3) NOT NULL
);
CREATE INDEX IDX_FACT_PERF_SESSION_START_DATE_TK ON pentaho_operations_mart.FACT_SESSION (start_date_tk);
CREATE INDEX IDX_FACT_PERF_SESSION_START_TIME_TK ON pentaho_operations_mart.FACT_SESSION (start_time_tk);
CREATE INDEX IDX_FACT_PERF_SESSION_END_DATE_TK ON pentaho_operations_mart.FACT_SESSION (end_date_tk);
CREATE INDEX IDX_FACT_PERF_SESSION_END_TIME_TK ON pentaho_operations_mart.FACT_SESSION (end_time_tk);
CREATE INDEX IDX_FACT_PERF_SESSION_SESSION_TK ON pentaho_operations_mart.FACT_SESSION (session_tk);
CREATE INDEX IDX_FACT_PERF_SESSION_STATE_TK ON pentaho_operations_mart.FACT_SESSION (state_tk);

CREATE TABLE pentaho_operations_mart.FACT_INSTANCE (
  start_date_tk INT            NOT NULL,
  start_time_tk INT            NOT NULL,
  end_date_tk   INT            NOT NULL,
  end_time_tk   INT            NOT NULL,
  session_tk    BIGINT         NOT NULL,
  instance_tk   BIGINT         NOT NULL,
  state_tk      BIGINT         NOT NULL,
  duration      NUMERIC(19, 3) NOT NULL
);
CREATE INDEX IDX_FACT_PERF_INSTANCE_START_DATE_TK ON pentaho_operations_mart.FACT_INSTANCE (start_date_tk);
CREATE INDEX IDX_FACT_PERF_INSTANCE_START_TIME_TK ON pentaho_operations_mart.FACT_INSTANCE (start_time_tk);
CREATE INDEX IDX_FACT_PERF_INSTANCE_END_DATE_TK ON pentaho_operations_mart.FACT_INSTANCE (end_date_tk);
CREATE INDEX IDX_FACT_PERF_INSTANCE_END_TIME_TK ON pentaho_operations_mart.FACT_INSTANCE (end_time_tk);
CREATE INDEX IDX_FACT_PERF_INSTANCE_SESSION_TK ON pentaho_operations_mart.FACT_INSTANCE (session_tk);
CREATE INDEX IDX_FACT_PERF_INSTANCE_INSTANCE_TK ON pentaho_operations_mart.FACT_INSTANCE (instance_tk);
CREATE INDEX IDX_FACT_PERF_INSTANCE_STATE_TK ON pentaho_operations_mart.FACT_INSTANCE (state_tk);

CREATE TABLE pentaho_operations_mart.FACT_COMPONENT (
  start_date_tk INT            NOT NULL,
  start_time_tk INT            NOT NULL,
  end_date_tk   INT            NOT NULL,
  end_time_tk   INT            NOT NULL,
  session_tk    BIGINT         NOT NULL,
  instance_tk   BIGINT         NOT NULL,
  state_tk      BIGINT         NOT NULL,
  component_tk  BIGINT         NOT NULL,
  duration      NUMERIC(19, 3) NOT NULL
);
CREATE INDEX IDX_FACT_PERF_COMPONENT_START_DATE_TK ON pentaho_operations_mart.FACT_COMPONENT (start_date_tk);
CREATE INDEX IDX_FACT_PERF_COMPONENT_START_TIME_TK ON pentaho_operations_mart.FACT_COMPONENT (start_time_tk);
CREATE INDEX IDX_FACT_PERF_COMPONENT_END_DATE_TK ON pentaho_operations_mart.FACT_COMPONENT (end_date_tk);
CREATE INDEX IDX_FACT_PERF_COMPONENT_END_TIME_TK ON pentaho_operations_mart.FACT_COMPONENT (end_time_tk);
CREATE INDEX IDX_FACT_PERF_COMPONENT_SESSION_TK ON pentaho_operations_mart.FACT_COMPONENT (session_tk);
CREATE INDEX IDX_FACT_PERF_COMPONENT_INSTANCE_TK ON pentaho_operations_mart.FACT_COMPONENT (instance_tk);
CREATE INDEX IDX_FACT_PERF_COMPONENT_COMPONENT_TK ON pentaho_operations_mart.FACT_COMPONENT (component_tk);
CREATE INDEX IDX_FACT_PERF_COMPONENT_STATE_TK ON pentaho_operations_mart.FACT_COMPONENT (state_tk);

CREATE TABLE pentaho_operations_mart.PRO_AUDIT_STAGING (
  job_id            VARCHAR(200),
  inst_id           VARCHAR(200),
  obj_id            VARCHAR(200),
  obj_type          VARCHAR(200),
  actor             VARCHAR(200),
  message_type      VARCHAR(200),
  message_name      VARCHAR(200),
  message_text_value VARCHAR(1024),
  message_num_value NUMERIC(19),
  duration          NUMERIC(19, 3),
  audit_time        DATETIME
);
CREATE INDEX IDX_PRO_AUDIT_STAGING_MESSAGE_TYPE ON pentaho_operations_mart.PRO_AUDIT_STAGING (message_type);

CREATE TABLE pentaho_operations_mart.PRO_AUDIT_TRACKER (
  audit_time DATETIME
);
CREATE INDEX IDX_PRO_AUDIT_TRACKER_AUDIT_TIME ON pentaho_operations_mart.PRO_AUDIT_STAGING (audit_time);
INSERT INTO pentaho_operations_mart.PRO_AUDIT_TRACKER VALUES ('1970 - 01 - 01 00:00:01');