<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:pen="http://www.pentaho.com/schema/pentaho-system"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
       http://www.pentaho.com/schema/pentaho-system http://www.pentaho.com/schema/pentaho-system.xsd" default-lazy-init="true">

<!-- ****************************************************************

	Configuration file for EXT-DynamicDataSources security component.

	Dependencies: User session variables populated.

*********************************************************************-->


	<!-- Bean overwrite for DyanicDatasourceService -->
	<bean id="IDBDatasourceService" class="com.pentaho.oem.sk.datasource.DynamicDatasourceService" scope="singleton">
		<property name="pooledDatasourceService" ref="pooledOrJndiDatasourceService" />
		<property name="nonPooledDatasourceService" ref="nonPooledOrJndiDatasourceService" />

		<property name="customerSpecificValueMap" ref="dsCustomerSpecificValueMap" />
		<!--  <property name="helper" ref="dsHelper" />  -->
	</bean>

	<!-- extend the DyanicDatasourceService with a helper to implement more complex logic -->
	<!--
    <bean id="dsHelper" class="com.mycompany.security.datasource.helper.DynamicDatasourceHelper">
		<property name="customerSpecificValueMap" ref="dsCustomerSpecificValueMap" />
	</bean>
	-->

  	<!--  Properties used by IDBDatasourceService. You can add additional ones for helper.  -->
	<util:map id="dsCustomerSpecificValueMap">
		<entry key="sessionVariableToAppend" value="tenantid" />
		<entry key="datasourcesToModify"     value-ref="datasourcesToModify" />

		<!-- the following are used by customer-specific helpers only  -->
		<!--  add more props here.. -->
	</util:map>


  	<!--  List of datasources to modify with IDBDatasourceService. Any others will not be modified.  -->
	<util:list id="datasourcesToModify">
		<value>{{ DATASOURCES_TOMODIFY_01 }}</value>  <!-- Put list of DS names or an * for all -->
		<value>{{ DATASOURCES_TOMODIFY_02 }}</value>  <!-- Put list of DS names or an * for all -->
	</util:list>


</beans>
